<header>
  <div class="create-header">
    <a href="/home" class="create-header__back">
      <img src="assets/img/row.png" alt="row" class="create-header__img-btn">
    </a>
    <h2 class="create-header__title">Create new form</h2>
  </div>
</header>
<section>
  <form class="form" [formGroup]="createFormGroup" novalidate (ngSubmit)="createForm()">
    <mat-form-field   class="form__title">
      <input matInput type="text" formControlName="form-title" name="title"
      value="New form">
    </mat-form-field>
  <mat-form-field class="form__description">
    <input matInput type="text" name="description"
    formControlName="description" placeholder="description">
  </mat-form-field>
    <app-create-form-cell *ngFor="let question of questions"></app-create-form-cell>
  </form>
  <input  class="button__add-qyestion" type="button" value="+" (click)="addQuestion()"/>
</section>
