.create-header{
  height: 184px;
  width: 100%;
  background-color:  #673ab7;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}
.create-header__title{
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0 20px 20px;
}
section{
  min-height: 100vh;
  background-color: #ede7f6;
}
.create-header__back{
  color: white;
  font-size: 34px;
  margin: 20px;
}
.create-header__img-btn{
  width: 32px;
}
.form{
  width: 80%;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
  background-color: white;
  box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}
.form__title{
  width: 90%;
  font-size: 35px;
  margin: 0 3% 0 7%;
}
.form__description{
  width: 90%;
  font-size: 14px;
  margin: 0 3% 0 7%;
}
.button__add-qyestion{
  position: fixed;
  top: 50%;
  right: 8%;;
  color: white;
  font-size: 20px;
}
.form-cell{
  width: 90%;
  margin: 20px 3% 0px 7%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-cell input[type=text]{
  max-width: 100%;
  font-size: 22px;
  color: #a1a1a1;
  font-weight: 400;
}
.form-cell__footer{
  width: 100%;
  height: 60px;
  border-top: 1px solid #e0e0e0;
}
.form-cell-content{
  width: 100%;
}
.form-cell-settings{
  width: 50%;
  display: flex;
  vertical-align: bottom;
  text-align: center;
  color: #a1a1a1;
}
.form-cell-settings__section{
  margin-top: 15px;
}
.form-cell-content__short-answer{
  border-bottom: 1px dotted #e0e0e0;
  font-size: 14px;
  margin: 20px 0px;
  color: #e0e0e0;
}
.form-cell-content__short-answer{
  width: 50%;
}
.form-cell-content__long-answer{
  width: 70%;
}
.form-cell__input-title{
  width: 50%;
}
.drop-down-items__button-add{
  background-color: #ffffff00;
  color: #e0e0e0;
}
.drop-down-items__button-add:hover{
}
.drop-down-items__input{
  border-bottom: 0px;
  width: 90%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.drop-down-items__btn-close{
  max-width: 8%;
  margin-left: 2%;
  background-color: white;
}
.hiden{
  display: none;
}
.back-ico{
  color: white;
  font-size: 32px;
  height: 32px;
  width: 32px;
  line-height: 32px;
}
.form-cell-content__itteration{
  margin-left: 2%;
  list-style-type: decimal;
}
.oneOfList{
  list-style-image: url(../../assets/img/radio.png);
  margin-left: 3%;
}
.form-cell__footer-delete-button{
  background-color: #ffffff00;
  color: silver;
  margin: 10px 2% 10px 95%;
}
.form__button-save{
  margin: 0 0 20px 7%;
}
@media (max-width: 576px) {
  .drop-down-items__input{
    width: 87%;
  }
  .form-cell-settings{
    width: 90%;
  }
  .form-cell__input-title{
    width: 90%;
  }
  .form-cell-content__itteration{
    margin-left: 5%;
  }
}
