<div class="form-cell">
  <input type="text" class="form-cell__input-title"
  [(ngModel)] ="title" value="Question title">
  <div class="form-cell-settings" >
    <mat-select [(ngModel)]="type" class="form-cell-settings__section">
      <mat-option value="string" class="form-cell-settings__section">
        text(string)
      </mat-option>
      <mat-option value="paragraph" class="form-cell-settings__section">
        text(paragraph)
      </mat-option>
      <mat-option value="ddl" class="form-cell-settings__section">
        drop-down list
      </mat-option>
    </mat-select>
  </div>
  <div class="form-cell-content">
    <p *ngIf="type=== 'string'" class="form-cell-content__short-answer">Short answer</p>
    <p *ngIf="type === 'paragraph'" class="form-cell-content__long-answer">Long answer</p>
    <div *ngIf="type === 'ddl'" class="drop-down-items">
      <input type="text" name="" class="drop-down-items__input">
      <input type="button" class="drop-down-items__button-add" value="Another variable" (click)="addDDI($event)">
    </div>
  </div>
  <div class="form-cell__footer">
    <input type="button" value="delete" />
  </div>
</div>
