<div class="form-cell">
  <input type="text" class="form-cell__input-title"
  [(ngModel)] ="title" value="Question title">
  <div class="form-cell-settings" >
    <select class="" name=""  [(ngModel)]="type" >
      <option value="string">
        text(string)
      </option>
      <option value="paragraph">
        text(paragraph)
      </option>
      <option value="ddl">
        drop-down list
      </option>
    </select>
  </div>
  <div class="form-cell-content">
    <p *ngIf="type=== 'string'" class="form-cell-content__short-answer">Short answer</p>
    <p *ngIf="type === 'paragraph'" class="form-cell-content__long-answer">Long answer</p>
    <div *ngIf="type === 'ddl'" class="drop-down-items">
      <input type="text" name="" class="drop-down-items__input">
      <input type="button" class="drop-down-items__button-add" value="Another variable" (click)="addDDI($event)">
    </div>
  </div>
  <div class="form-cell__footer">
    <input type="button" value="delete" />
  </div>
</div>
