<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 class="header__title">Froms generator</h1>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main>
  <div class="forms">
    <div class="forms__add-item">
      <a class="forms__add-item-link" href="form/create">+</a>
    </div>
    <div *ngFor="let form of forms" class="form__item">
      <a routerLink="/form/{{form.id}}" class="form__link">{{form.title}}</a>
      <input type="button" class="form__delete-button"/>
    </div>
  </div>
</main>
